<form id="contact-form" method="POST" action="/add-post">
  <input type="text" name="author" value="{{author}}  hidden" />
  <div class="form-text">
    <label>Post Title
      <input type="text" name="name" />
    </label>
  </div>
  <div class="form-text">
    <label>Post Text
      <textarea name="text"></textarea>
    </label>
  </div>
  <div class="form-button">
    <input type="submit" value="Submit" />
  </div>
</form>